@import '../vars'
label.main_input_label
	width: 100%
	text-transform: uppercase
	color: #ccc
	font-size: 12px
	user-select: none
	margin: 0 0 20px 0 
	display: block
	input.main_input
		width: 100%
		font-size: 18px
		color: #000
		border-bottom: 2px solid rgba(#000, .36)
		text-align: center
		font-weight: 700
		padding: 0 0 5px 0
	input::-webkit-input-placeholder
		color: rgba(#000, .54)
		font-size: 18px
		text-align: center		
	input::-moz-placeholder
		color: rgba(#000, .54)
		font-size: 18px
		text-align: center		
	input:-moz-placeholder
		color: rgba(#000, .54)
		font-size: 18px
		text-align: center		
	input:-ms-input-placeholder
		color: rgba(#000, .54)
		font-size: 18px
		text-align: center		
