<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= htmlWebpackPlugin.options.title %>
  <%= htmlWebpackPlugin.options.helmetMeta %>
</head>

<body>
  <div id="app"><%= htmlWebpackPlugin.options.html %></div>

<script>window.__INITIAL_STATE__ = <%= htmlWebpackPlugin.options.extraScript %></script>
</body>
</html>
