@import 'vars'
div.main_breadcrumbs_wrapper
	width: 100%
	min-height: 120px
	font-size: 18px
	font-weight: 700
	background-color: $main-gray-blog
	+max($tablet)
		min-height: 100px	
	ul.main_breadcrumbs_list
		margin: 0 auto
		width: 840px
		height: 100%
		min-height: 120px
		display: flex
		align-items: center
		justify-content: flex-start
		flex-wrap: wrap
		align-content: center
		+max($tablet)
			min-height: 100px
			width: 100%
			padding: 10px 15px
		+max(840px)	
			width: 100%
		a.breadcrumbs_item
			color: rgba(#000, .38)
			line-height: 40px
			+max($tablet)
				line-height: 25px
			&:after
				content: '/'
				padding: 0 5px
				line-height: 40px
			&:last-of-type
				color: #000
				&:after
					content: none