@import 'vars'
footer.main_footer
	padding: 40px
	display: flex
	justify-content: space-between
	align-items: center
	position: relative
	+max($tablet)
		flex-direction: column
		padding: 30px 25px
	+max(480px)
		padding: 30px 10px
	div.contacts_block
		display: flex
		width: 382px
		+max($tablet)
			justify-content: space-between
			margin: 0 0 40px 0
		+max(480px)
			width: 100%
		div.contacts_items
			font-size: 14px
			line-height: 30px
			color: rgba(#000, .54)
			+max(370px)
				font-size: 13px						
			&:first-child
				margin-right: 75px
				+max(480px)
					margin-right: 10px
				+max(370px)
					margin-right: 0	
			&:last-child
				text-align: right
			.contacts_item_value	
				display: block
				width: 100%	
				margin-bottom: 10px
				// &:last-of-type
					// margin-bottom: 0
				&:last-child
					margin-bottom: 0					
				&.mail
					color: #000
					font-weight: 700
			a.contacts_item_value
				position: relative
				&:after
					content: ''
					position: absolute
					height: 1px
					background-color: $main-blue-blog
					bottom: 0
					left: 0
					right: 0		
					transform: scale3d(0, 3, 1)	
					transition: transform .4s ease		
					transform-origin: 0% 50%	
				&:hover
					&:after
						transform: scale3d(1, 1, 1)					

	div.socials_block
		margin-left: -220px
		+max($tablet)
			margin: 0 0 40px 0
		a.socials_block_item
			width: 40px
			height: 40px
			margin-right: 20px
			+dib
			svg
				g
					opacity: 1
				path
					transition: all .35s ease
					opacity: 1					
					fill: rgba(#000, .54)
			&:hover
				&.git
					path
						fill: #000000 !important
				&.dribble
					path
						fill: #ED4989 !important
				&.fb
					path
						fill: #475993 !important
				&.codepen
					path
						fill: #000000 !important																		
			&:last-of-type
				margin-right: 0

.mail, .phone
	&:after
		content: none !important