@import 'vars'
.footer_logo
	display: block
	text-decoration: none
	font-size: 70px
	font-weight: 100
	color: $main-blue-blog
	width: 160px
	height: 90px
	text-align: center
	align-items: center
	justify-content: center
	flex-direction: column
	user-select: none
	cursor: pointer
	transition: all .6s
	flex-shrink: 0
	position: relative
	overflow: hidden
	// +roboto100
	@media only screen and (max-width: 1199px)
		width: 120px
		height: 70px
		font-size: 42px
	&:hover
		.logo_name
			transform: translateY(-20px)
	&-decor
		opacity: 0
		font-size: 26px
		text-align: center	
		transition: letter-spacing .7s 
		margin-right: -2px
		line-height: 0
		height: 35px
		text-transform: uppercase
		letter-spacing: -2px	
		transform: translateY(-15px)
		@media only screen and (max-width: 1199px)
			font-size: 18px
			transform: translateY(-25px)
	&:hover
		.footer_logo-decor
			opacity: 1
			letter-spacing: 6px
			transition-delay: .6s
			@media only screen and (max-width: 1199px)
				letter-spacing: 3px
		.footer_logo_decor_border
			&:nth-child(1)
				width: 0px
			&:nth-child(2)
				height: 0px
			&:nth-child(3)
				width: 0px
			&:nth-child(4)
				height: 0px
		
.logo_name
	transition: all .4s
	display: block
	height: 100%
	width: 100%
	line-height: 90px
	@media only screen and (max-width: 1199px)
		line-height: 70px

.footer_logo_decor_border
	background-color: $main-blue-blog
	position: absolute
	transition: all .5s
	&:nth-child(1)
		top: 0
		right: 0
		height: 2px
		width: 100%
	&:nth-child(2)
		bottom: 0
		right: 0
		width: 2px
		height: 100%
	&:nth-child(3)
		bottom: 0
		left: 0
		height: 2px
		width: 100%
	&:nth-child(4)
		top: 0
		left: 0
		width: 2px
		height: 100%