// main styles of the whole project

@import 'vars'
@import 'universal'

@font-face
	font-family: 'Noto Sans'
	font-weight: 400
	src: local("Noto Sans"), local("NotoSans"), url("../fonts/notosans.woff") format("woff")

@font-face 
	font-family: 'Noto Sans'
	font-weight: 700
	src: local("Noto Sans"), local("NotoSans"), url("../fonts/notosansbold.woff") format("woff")

@font-face 
	font-family: 'Noto Sans'
	font-weight: 400
	font-style: italic
	src: local("Noto Sans"), local("NotoSans"), url("../fonts/notosansitalic.woff") format("woff")

@font-face
	font-family: 'Noto Sans'
	font-weight: 700
	font-style: italic
	src: local("Noto Sans"), local("NotoSans"), url("../fonts/notosansbolditalic.woff") format("woff")

// nav.main_menu
// 	background-color: $main-blue
// 	position: fixed
// 	width: 120px
// 	height: 100%
// 	bottom: 0
// 	left: 0
// 	top: 0
html, body
	position: relative
	width: 100%
	height: 100%
	// background: $main-light-blue
	box-sizing: border-box
body
	margin: 0
	padding: 0
	// padding-left: 120px
	overflow-x: hidden
	&.no-mouse-events
		pointer-events: none !important
		*
			pointer-events: none !important
	&.noselect
		user-select: none
	> *
		color: rgba(black, .87)
	*
		font-family: "PT Sans"
		box-sizing: border-box
		margin: 0
		padding: 0
		text-decoration: none
		outline: none
		border-radius: 0
		border: none
		list-style: none
		-webkit-appearance: none
		-moz-appearance: none
		color: inherit
		+max($tablet)
			-webkit-overflow-scrolling: touch
sup
	line-height: 0
div.app_root
	overflow: hidden
div.main_modal_wrapper
	width: 100%
	height: 100%
	position: fixed
	background-color: rgba(#000, .7)
	display: flex
	justify-content: center
	align-items: center
	animation: fadeIn .45s ease backwards
	z-index: 1000
	+trbl(0, 0, 0, 0)
	button.close_btn
		position: fixed
		top: 0
		right: 0
		width: 60px
		height: 60px
		background-color: rgba(#fff, .54)
		transition: all .45s ease
		cursor: pointer
		z-index: 15
		// +max($tablet)
			// width: 60px
			// height: 60px
		svg
			width: 30px
			height: 30px
			transition: all .45s ease
			+max($tablet)
				width: 30px
				height: 30px
		&:hover
			background-color: #fff
// @media (max-width: $tablet)
// 	body
// 		padding-left: 0
// 		padding-top: 80px

// @media (max-width: $mobile)
// 	body
// 		padding-top: 60px

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0

input:invalid
	box-shadow: none
@keyframes fadeIn 
	0%
		opacity: 0
	100%
		opacity: 1
// div.screensaver

// 	+pos(fixed, 0, 0, 0, 0)
// 	z-index: 120000
// 	background: white
// 	display: flex
// 	flex-direction: column
// 	align-items: center
// 	justify-content: center
// 	transition: opacity 840ms $main-transition

// 	div.info
// 		+pos(absolute, auto, 0, 0, 0)
// 		padding: 20px
// 		text-align: center
// 		h6
// 			color: rgba($main-blue, .24)
// 			font-weight: 400
// 			font-size: 20px
// 	div.mp-animation-test
// 		&:not(.disabled)
// 			width: 25%
// 			transform: translateZ(0)
// 		&.disabled
// 			+pos(absolute, 0, 0, 0, 0)
// 			filter: none
// 			opacity: .03
// 			transform: rotateY(180deg) translateZ(0)
// 			svg
// 				g
// 					animation-play-state: running !important
// 	&.universal-hidden
// 		div.mp-animation-test
// 			display: none