@import 'vars'
nav.main_nav
	height: 80px
	width: 100%
	display: flex
	+max($tablet)
		justify-content: space-between
		align-items: center
		position: relative
	a.nav_logo
		// flex-grow: 0.5
		width: calc(100% / 3)
		height: 100%
		background-color: $main-blue-blog
		color: #fff
		text-align: right
		font-size: 24px
		line-height: 80px
		padding: 0 20px 0 0
		cursor: pointer
		+dib
		+max($tablet)
			width: 30%
			min-width: 250px
		+max(380px)
			min-width: 230px
	div.toggle_menu_btn
		width: 60px
		height: 60px
		cursor: pointer
		margin-right: 12px
		position: relative
		+min($tablet)
			display: none
		div.menu_btn_decor
			width: 30px
			height: 30px
			border-radius: 100%
			position: absolute
			top: calc(50% - 15px)
			left: calc(50% - 15px)
			background-color: rgba($main-blue-blog, .8)
			transform: translateX(0) scale(.3)
			transition: transform .3s ease .1s, background-color .45s ease
			&:nth-of-type(1)
				transform: translateX(-20px) scale(.3)
			&:nth-of-type(3)
				transform: translateX(20px) scale(.3)
		&.active_btn
			div.menu_btn_decor
				// left: calc(50% - 5px)
				transform: scale(1)	translateX(0) translateZ(0)	
				background-color: #ff1d5d
				transition: transform .3s ease , left .45s ease		
	ul.nav_list
		height: 100%
		flex-grow: 1
		justify-content: space-between
		font-size: 18px
		z-index: 25
		+dif
		+max($tablet)
			position: absolute
			top: 80px
			right: 0
			left: 0
			background-color: $main-gray-blog
			height: auto
			transform-origin: 100% 50%
			transition: transform .5s ease, opacity .4s ease
		+max($mobile)
			height: calc(100vh - 80px)
		&.hidden
			+max($tablet)
				transform: translateX(100px)
				opacity: 0
				pointer-events: none
				user-select: none
		div.service_links
			&.active
				a.nav_list_link
					color: $main-blue-blog !important
			+max($tablet)
				display: flex
				flex-wrap: wrap
				align-items: flex-start
				align-content: flex-start
				width: 50%
		div.blog_links
			+max($tablet)
				display: flex
				flex-wrap: wrap
				align-items: flex-start
				align-content: flex-start	
				width: 50%	
			&.active
				a.nav_list_link
					color: $main-blue-blog !important				
		a.nav_list_link
			transition: color .3s ease 
			height: 100%
			line-height: 80px
			color: rgba(#000, .38)
			margin: 0 20px
			position: relative
			+dib			
			+max($tablet)
				width: 100%
				height: 80px
			+max($mobile)
				height: 60px
			&:after
				content: ''
				position: absolute
				height: 2px
				background-color: $main-blue-blog
				bottom: 0
				left: 0
				right: 0		
				transform: scale3d(0, 5, 1)	
				transition: transform .4s ease		
				transform-origin: 0% 50%	
			&.active
				&:after
					transform: scale3d(1, 1, 1)

		