@import 'vars'
@import 'main'

div.slider_container
	width: 100%	
	height: calc(100vh - 80px)
	position: relative
	overflow: hidden
	&.no_controllers
		img.slider_item_main_image
			width: 100% !important
	div.slider_item
		position: absolute
		+trbl(0,0,0,0)
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		transition: opacity 1s ease
		background-size: cover
		background-position: center
		img
			display: block
			width: calc(100% - 120px)
			margin: 0 auto
	div.overlay
		position: absolute
		+trbl(0,0,0,0)
		background-color: rgba(#000, .48)
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		animation: fade_in 1s ease backwards
		div.slider_article_descr
			color: #fff	
			width: 1060px
			text-align: center
			+max($tablet)
				width: calc(100% - 140px)
			+max($mobile)
				width: calc(100% - 100px)
			div.author_avatar
				width: 120px
				height: 120px
				background-size: cover
				background-position: center	
				border-radius: 100%	
				margin: 0 auto 40px auto
				+max($tablet)
					margin: 0 auto 20px auto
					width: 80px
					height: 80px
				+max($mobile)
					display: none		
			a.slider_title
				font-size: 48px
				line-height: 58px
				+serif400
				+max($tablet)
					font-size: 36px
					line-height: 46px
				+max($mobile)
					font-size: 24px
					line-height: 34px
			div.article_descr
				width: 1060px
				position: absolute
				display: flex
				justify-content: space-between
				+trbl(auto, auto, 40px, auto)
				+max($tablet)
					width: calc(100% - 140px)	
				+max($mobile)
					display: none			
				div.badge
					line-height: 40px
					color: #fff
					font-size: 18px
					font-weight: 700
					background-color: $main-blue-blog
					border-radius: 3px 
					padding: 0 10px
					cursor: pointer
				div.article_date
					text-align: right
					position: relative
					padding: 0 10px 0 0
					&:after
						content: ''
						height: 100%
						width: 1px
						position: absolute
						+trbl(0,0,0, auto)
						background-color: rgba(#fff, .54)
					div.date
						font-size: 14px
						line-height: 17px
						color: rgba(#fff, .54)
					a.author_name
						color: $main-blue-blog
						position: relative
						line-height: 17px
						&:after
							content: ''
							position: absolute
							+trbl(auto, 0, 0, auto)
							height: 1px
							width: 100%
							background-color: $main-blue-blog

	div.slider_controller
		width: 60px
		height: 60px
		position: absolute
		top: calc(50% - 30px)
		right: 0
		cursor: pointer
		z-index: 10
		+max($mobile)
			width: 40px
			height: 40px
		polyline
			transform: translateX(2px)		
		svg
			rect
				transition: all .4s ease
				fill: rgba(#fff, .54)
		&:hover
			svg
				rect
					fill: #fff			
		&.prev
			left: 0
			transform: rotate(-180deg) translateZ(0)	

@keyframes fade_in
	0%
		opacity: 0
	100%
		opacity: 1		