@import 'vars'

.main_button
	font-size: 16px
	padding: 10px 20px	
	border-radius: 35px
	text-transform: uppercase
	background-color: transparent
	border: 2px solid #fff
	cursor: pointer

.blog_button
	height: 50px
	padding: 0 20px
	font-size: 18px
	font-weight: 700
	line-height: 50px
	// display: flex
	// justify-content: center
	// align-items: center
	// align-content: center	
	border-radius: 25px
	cursor: pointer
	&_blue
		@extend .blog_button
		color: #fff
		background-color: $main-blue-blog
	&_white
		@extend .blog_button
		color: $main-blue-blog
		background-color: #fff