$main-red: #ff1744
$main-blue: #2b579f
$main-blue-06: #F3F5F9
$main-green: #7ab935
$main-green-2: #4CAF50
$secondary-green: #5B9022
$third-green: #2E7D32
$main-light-blue: #F4F7F9
$main-gold: #FFB000
$main-dark-yellow: #FFB200
$main-light-yellow: #FFDA00
$courses-green: #7BBA42
$main-border-blue: #E5EAF3
$main-orange: #FF9800

$incoming-blue: #3D5AFE
$outcoming-green: $main-green-2

$shadow-l1: 0 0 1px rgba(black, .12), 0 3px 3px rgba(black, .18)
$shadow-l2: 0 0 1px rgba(black, .12), 0 5px 6px rgba(black, .18)
$shadow-l3: 0 0 1px rgba(black, .12), 0 7px 12px rgba(black, .18)
$shadow-panel: 0 0 1px rgba(black, .12), 3px 0 9px rgba(black, .18)
$shadow-pbottom: 0 0 1px rgba(black, .12), 0 0px 9px rgba(black, .18)

$main-transition: cubic-bezier(0.23, 1, 0.32, 1)

$desktop: 1799px
$tablet: 1199px
$mobile: 729px


=trbl($t, $r, $b, $l)
	top: $t
	right: $r
	bottom: $b
	left: $l
	
=pos($pos, $t, $l, $r, $b)
	position: $pos
	top: $t
	left: $l
	right: $r
	bottom: $b

=dib
	display: inline-block
	vertical-align: top
=dif
	display: inline-flex
	vertical-align: top
=max($size)
	@media (max-width: $size)
		@content

=min($size)
	@media (min-width: $size)
		@content

=bg-hover($color)
	&:hover
		background-color: $color

$main-blue-blog: #1A54E6
$main-gray-blog: #F6F6F6

=sans400
	font-family: 'PT Sans'
	font-weight: 400
	
=sans700
	font-family: 'PT Sans'
	font-weight: 700

=serif400
	font-family: 'PT Serif'
	font-weight: 400

=serif700
	font-family: 'PT Serif'
	font-weight: 700	