@import '../vars'
$btnColor: #D5B07C
form.form_wrapper
	margin: 0 auto
	width: 400px
	text-align: center
	h3.form_title
		font-size: 32px
		color: #000
		margin: 0 0 40px 0
	button.form_submit_btn
		width: 100%
		background-color: $btnColor	
		color: #fff	
		margin: 40px 0 0 0