@import '../vars.sass'
=trbl($t,$r,$b,$l)
	top: $t
	right: $r
	bottom: $b
	left: $l
$opacityBlockWidth: 500px

div.login_form_wrapper
	width: 100%
	height: 100%
	min-height: 100vh
	background-color: $main-light-blue
	position: relative
	padding: 40px
	button.change_form
		position: relative
		z-index: 120
		position: absolute
		color: #fff
		transition: right .6s ease-in-out
		+trbl(300px, 200px, auto, auto)
	div.titles_wrapper
		display: flex
		justify-content: space-between
		height: 100%
		width: 100%
		z-index: 10
		position: relative		
		div.title_block
			position: relative
			z-index: 10
			color: #fff
			text-align: center
			width: calc(#{$opacityBlockWidth} - 100px)
			padding: 0 20px
			padding-top: 120px
			display: flex
			flex-wrap: wrap
			align-items: flex-start
			align-content: flex-start
			justify-content: center
			transition: transform .6s ease-in-out
			&.title_right
				margin-right: 100px
				transform: translateX(-50px) translateZ(0)
			&.title_left
				margin-left: 100px
				transform: translateX(50px) translateZ(0)				
			h2.title
				margin-bottom: 40px
				font-size: 32px
	div.disappearing_image
		background-image: url(http://yniwersal.ru/wp-content/uploads/2013/05/%D0%B2%D0%B0%D0%BB%D0%B8%D0%BA-png.png)
		background-size: cover
		background-position: center
		width: 300px
		height: 300px
		position: absolute
		bottom: 0px
		z-index: 31
		transition: transform .6s ease-in-out
		&.left_img
			left: 0
			transform: rotate(-45deg) translateY(-200px)
		&.right_img
			right: 270px	
			z-index: 32
			transform: rotate(45deg)			
	div.opacity_block
		position: absolute
		+trbl(40px, 40px, 40px, 40px)
		background-image: url(http://rylik.ru/uploads/posts/2013-03/1363129891_2.jpg)
		background-size: 100% calc(100% - 100px)		
		background-position: 0 0
		overflow: hidden
		background-color: $main-light-blue
		background-repeat: no-repeat
		+dib
		&.to_left
			div.disappearing_image
				&.right_img
					transform: rotate(45deg) translateY(-200px)
				&.left_img
					transform: rotate(-45deg) translateY(0px)
			.right
				transform: translateX(#{$opacityBlockWidth}) translateZ(0) !important
			.left
				transform: translateX(calc(-100% - #{$opacityBlockWidth})) translateZ(0) !important		
			.title_left
				transform: translateX(-50px) translateZ(0px) !important
			button.change_form
				right: calc(100% - 300px)
		&.to_right
			.title_right
				transform: translateX(50px) translateZ(0px) !important			
		&:before
			content: ''
			position: absolute
			background-color: rgba(#000, .4)
			width: 100%
			height: calc(100% -	100px)
			+trbl(0px, 0px, 100px, 0px)
			z-index: 1	
		// &:after
		// 	content: ''
		// 	position: absolute
		// 	background-color: $main-light-blue
		// 	height: 100px
		// 	z-index: 35
		// 	+trbl(auto, 0px, 0px, 0px)
		div.opacity_white
			width: calc(100% - #{$opacityBlockWidth})
			height: calc(100% - 100px)
			background-color: #fff
			position: absolute
			top: 0
			left: 0
			transition: transform .6s ease-in-out
			display: flex
			justify-content: center
			align-items: flex-start
			padding: 120px 0 0 0
			&.left
				z-index: 32
			&.right
				z-index: 35
				transform: translateX(calc(100% + #{$opacityBlockWidth})) translateZ(0)