@import '../vars'
header.header_block
	padding-bottom: 50px
	background-color: $main-light-blue
	position: relative
	h1.header_main
		font-size: 100px
		font-weight: 700
		// color: #fff
		color: #326fa7
		line-height: 120px
		padding: 40px 0
		text-align: center
		position: relative
		// background: #0b4a82
		background-color: #fff
		text-transform: uppercase
		> span
			display: block
			position: relative
			line-height: 120px
			padding: 20px 0
			span
				+dib
				display: block
				z-index: 2
				transform: rotate(-8deg) 
				transform-origin: 50% 50%
				position: relative			
			&:before
				content: attr(title)
				+pos(absolute, 20px, 0, 0, 20px)
				line-height: 120px
				transform-origin: 50% 50%
				transform: rotate(-8deg) scaleX(0.97)
				// color: rgba(white, .54)
				color: rgba(#0b4a82, 1)
				// color: #fff 
				z-index: 0
				text-shadow: 0 0 3px rgba(#3E2723, .18), 1px 3px 12px rgba(#3E2723, .36), 5px 12px 24px rgba(#3E2723, .36)
			&:first-child, .city_name
				span
					transform: none
				&:before
					transform:  scaleX(0.97)
		.city_name
			margin-bottom: 30px
			span
				transform: none
			&:before
				transform:  scaleX(0.97)			
	div.btn_container
		position: absolute
		top: -450px
		left: calc(50% - (435px / 2))
		z-index: 15
		// transform: translateY(-450px)
		// animation: btn_to_bottom 1s ease backwards, btn_pendulum 3s ease-in-out .3s alternate backwards 
		// transform: rotate(0deg)
		transform-origin: 50% 0%
		div.cable
			width: 5px
			height: 300px
			background-color: #000
			margin: 0 auto
		button.submit_advertisement
			width: 435px
			height: 80px
			padding: 22px 20px 23px
			border-radius: 6px
			background-color: #ffd76b
			background-image: -webkit-linear-gradient(270deg, #ffd66a, #f4bc24)
			background-image: linear-gradient(180deg, #ffd66a, #f4bc24)
			box-shadow: 0 0 39px 0 rgba(255, 186, 0, .62), 0 3px 26px 1px #535151
			color: #383737
			font-size: 27px
			line-height: 34px
			font-weight: 400
			display: inline-block
			border: 0
			text-decoration: none
			cursor: pointer	
			text-transform: uppercase			
			

@keyframes btn_to_bottom
	0%
		// transform: translateY(-100%)
		top: -450px
	100%
		top: 0
		// transform: translateY(0)

@keyframes btn_pendulum
	0%
		transform: rotate(45deg)
	25%
		transform: rotate(-45deg)	
	50%
		transform: rotate(45deg)
	75%
		transform: rotate(-45deg)
	100%
		transform: rotate(0deg)
	