@import '../vars'
section.bloglist
	div.articles
		width: 1060px
		margin: 0 auto
		text-align: left
		+max($tablet)
			width: calc(100% - 140px)
		+max($mobile)
			width: calc(100% - 40px)
		+max(480px)
			width: 100%
			padding: 0 10px
	div.slider_container
		height: calc(100vh - 80px)
		width: 100%
	div.similar_articles
		background-color: $main-gray-blog
		padding: 40px 0 5px 0
		a.silimar_articles_item
			width: calc(50% - 17.5px)
			+max($tablet)
				width: calc(50% - 12.5px)
			+max($mobile)
				width: 100%
				margin-right: 0
			&:nth-child(2n)
				margin-right: 0				
	main.all_articles
		width: 100%
		padding: 40px 0 40px 0
		+max($tablet)
			padding: 20px 0 20px 0
		div.articles
			a.silimar_articles_item
				width: calc(100% / 3 - (70px / 3)) // 70 - summary margin
				+max($tablet)
					width: calc(100% / 2 - (25px /2))
				+max($mobile)
					width: 100%
					margin-right: 0
					
				&:first-of-type
					width: 100%				
				&:nth-of-type(3n + 4)
					+min(1200px)
						margin-right: 0
				&:nth-of-type(2n + 3)
					+max($tablet)
						margin-right: 0

		button.more_articles
			width: 225px
			margin: 45px auto 40px auto
			display: block
			+max($tablet)
				margin: 25px auto 20px auto
	div.subscribe_section
		height: 420px
		width: 100%
		background: $main-blue-blog url('/src/images/telegram-bg.svg')
		background-repeat: no-repeat
		background-size: cover 
		background-position: center
		color: #fff
		display: flex
		flex-wrap: wrap
		align-content: center
		align-items: center
		justify-content: center
		text-align: center
		padding: 0 20px
		+max($tablet)
			height: 360px
		+max($mobile)
			height: 280px
		h2.subscribe_title
			width: 100%
			line-height: 50px
			font-size: 48px
			margin: 0 0 20px 0 
			+serif400
			+max($tablet)
				font-size: 36px
				line-height: 38px
			+max($mobile)
				font-size: 32px
				line-height: 34px
		p.subscribe_descr
			width: 100%
			margin: 0 0 40px 0
			font-size: 24px
			+serif400
			color: rgba(#fff, .5)
			+max($tablet)
				font-size: 18px
			+max($mobile)
				margin: 0 0 30px 0
		div.subscribe_btn_block
			background-color: #2C6DFF
			font-size: 18px
			border-radius: 25px
			a.subscribe_link
				padding: 0 40px
				+max($mobile)
					font-size: 16px
					padding: 0 10px