@import '../vars'
section.blog_item_container
	width: 100%
	padding: 40px 0 0 0
	div.full_size_img
		display: block
		background-size: contain
		background-position: center
		padding-top: 57%
		width: 80%
		max-width: 1300px
		background-repeat: no-repeat
	article.blog_item
		width: 840px
		margin: 0 auto
		+max($tablet)
			padding: 0 25px
			width: 100%	
		// +max(840px)
			// width: 100%			
		h1.blog_item_title
			font-size: 36px
			font-weight: 400
			line-height: 43.2px
			margin: 0 0 40px 0
			+serif400
			+max($tablet)
				font-size: 32px
				line-height: 36px	
		div.article_info
			width: 100%
			height: 60px
			display: flex
			justify-content: space-between
			margin: 0 0 40px 0
			+max($mobile)
				flex-wrap: wrap
				height: auto
				margin: 0 0 20px 0
			div.article_author	
				display: flex
				a.author_avatar
					border-radius: 100%	
					width: 60px
					height: 60px
					background-size: cover
					background-position: center
					margin: 0 10px 0 0
				div.author_descr
					width: calc(100% - 70px)
					display: flex
					flex-wrap: wrap
					align-content: space-between
					padding: 5px 0
					font-size: 16px
					a.author_name
						width: 100%
						line-height: 19px
						font-weight: 700
					div.date
						color: rgba(0, 0, 0, 0.38)
						width: 100%
						line-height: 19px
			div.article_socials
				height: 100%
				align-items: center
				display: flex
				+max($mobile)
					margin: 20px 0 0 20px
					// flex-wrap: wrap
				div.socials_item
					display: flex
					align-items: center
					margin-right: 20px
					cursor: pointer
					path
						transition: all .3s ease
					&:hover
						.gplus
							path								
								opacity: 1
								fill: #DD4B39 !important
						.fb
							path
								opacity: 1
								fill: #3B5998 !important
					&:last-of-type
						margin-right: 0
					div.social_img
						width: 28px
						height: 28px
						margin-right: 5px						
					p.social_descr
						text-transform: uppercase
						font-size: 14px
						color: rgba(#000, .54)

		main.article_content
			img.article_cover_img
				display: block
				width: 100%
				margin: 0 0 40px 0
				cursor: pointer
			h2.article_h2
				font-size: 36px
				line-height: 36px
				margin: 0 0 20px 0
				+serif400
				+max($tablet)
					font-size: 32px
					line-height: 32px
			h3.article_h3
				@extend h2.article_h2
				font-size: 24px
				line-height: 29px
			h4.article_h4
				@extend h2.article_h2
				font-size: 20px	
				line-height: 24px				
			p.article_paragraph
				font-size: 16px
				line-height: 25px
				color: rgba(#000, .87)
				margin: 0 0 40px 0				
			blockquote.article_quote
				width: 100%
				display: flex
				padding: 0 60px 0 40px
				margin: 0 0 40px 0
				color: rgb(117,117,117)
				+max($mobile)
					padding: 0 30px 0 20px
					margin: 0 0 20px 0
				path
					fill: rgb(117,117,117)
				div.quote_decor
					width: 45px
					height: 35px
					margin: 0 20px 0 0
					line-height: 30px
					position: relative
					top: 8px
				p.quote_descr
					width: 100%
					font-size: 24px
					+max($tablet)
						font-size: 22px
					+max($mobile)
						font-size: 20px
			div.article_images_block
				width: 100%	
				margin: 0 0 30px 0		
				div.wrapper
					margin-bottom: 10px
					width: calc(50% - 5px)	
					overflow: hidden
					+dib		
					&:hover
						div.images_block_item
							transform: scale(1.1)	
					&:first-of-type
						margin-right: 10px
					&:nth-of-type(4n)
						margin-right: 10px
					&:nth-of-type(3n)
						width: 100%
						margin-right: 0				
					div.images_block_item
						padding-top: 57%
						background-size: 100%
						background-position: 50%
						cursor: pointer
						transition: all .4s ease