@import '../vars'
a.silimar_articles_item
	width: 330px
	margin: 0 35px 35px 0
	overflow: hidden
	+dib
	+max($tablet)
		margin: 0 25px 25px 0
		width: calc((100% - 50px) /3)
	+max($mobile)
		width: calc((100% - 25px) /2)
	+max(480px)
		width: 100%
	&:hover
		.silimar_cover_img
			.img_block
				transform: scale(1.1)
	&.cover_item
		width: 100%
		margin-right: 0
		margin-left: 0
		div.img_wrapper
			&:before
				content: ''
				position: absolute
				+trbl(0,0,0,0)
				width: 100%
				height: 100%
				background-color: rgba(#000, .48)	
				z-index: 1
			div.article_descr
				position: relative
				z-index: 5
				color: #fff
				position: absolute
				+trbl(0,0,0,0)
				width: 100%
				height: 100%
				display: flex
				justify-content: center
				align-items: center
				align-content: center
				flex-wrap: wrap
				text-align: center
				h3.article_descr_title
					width: 100%	
					font-size: 36px
					line-height: 43px
					padding: 0 20px
					+serif400
				div.article_date_badge
					width: 100%
					position: absolute
					display: flex
					justify-content: space-between
					align-items: center
					padding: 0 20px 0 0
					+trbl(auto, 0px, 20px, 0)
					div.type_badge
						line-height: 40px
						font-weight: 700
						padding: 0 10px
						background-color: red
						border-bottom-right-radius: 3px
						border-top-right-radius: 3px
						font-size: 18px
						text-transform: capitalize
					div.similar_descr
						display: flex
						width: auto
						div.similar_date
							color: rgba(#fff, .54)

	div.silimar_cover_img
		// width: 100%
		// background-size: cover
		// background-position: 50%
		// padding-top: 57%
		// position: relative
		// cursor: pointer
		// margin: 0 0 20px 0
		// transition: transform .4s ease
		div.img_wrapper
			overflow: hidden
			width: 100%
			margin: 0 0 20px 0
			position: relative
			+max($mobile)
				margin: 0 0 10px 0			
		div.img_block
			width: 100%
			background-size: cover
			background-position: 50%
			padding-top: 57%
			position: relative
			cursor: pointer
			// margin: 0 0 20px 0
			transition: transform .4s ease
		div.silimar_type_badge
			width: 90px
			font-size: 18px
			color: #fff
			font-weight: 700
			padding: 0 10px
			line-height: 40px
			background-color: green
			border-bottom-right-radius: 3px
			border-top-right-radius: 3px
			text-transform: capitalize
			position: absolute
			bottom: 20px
			left: 0
	h3.silimar_title
		font-size: 20px
		line-height: 30px
		color: #000
		margin: 0 0 20px 0
		+serif400
		+max($tablet)
			font-size: 18px
			line-height: 24px
		+max($mobile)
			margin: 0 0 10px 0
	div.similar_descr
		width: 100%
		display: flex
		justify-content: flex-start		
		a.similar_author
			font-size: 14px
			line-height: 18px			
			color: $main-blue-blog
			position: relative
			display: block
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 1px
				width: 100%
				background-color: $main-blue-blog

div.similar_date
	font-size: 14px
	line-height: 18px
	color: rgba(#000, .24)	
	cursor: default
	&:after
		content: '|'
		margin: 0 5px				

// div.similar_descr_block_wrapper	
// 	position: relative
// 	&:before
// 		content: ''
// 		position: absolute
// 		+trbl(-25px, 0, auto, 0)
// 		height: 25px
// 		background-color: $main-gray-blog
// 		z-index: 15	