@import '../vars'
div.silimar_articles_container
	background-color: $main-gray-blog
	padding: 40px 0 5px 0 
	width: 100%
	+max($tablet)
		padding: 30px 0 5px 0
	h2.similar_articles_title
		font-size: 30px
		line-height: 36px
		margin: 0px 0 40px 0
		text-align: center
		color: #000
		+serif400
		+max($tablet)
			margin: 0 0 30px 0
	div.silimar_articles_wrapper
		max-width: 1060px
		margin: 0 auto
		text-align: left
		+max($tablet)
			width: 100%
			max-width: 100%
			padding: 0 25px
		a.silimar_articles_item
			&:last-of-type
				margin-right: 0
			&:nth-of-type(3n)
				margin-right: 0
				+max($mobile)
					margin: 0 25px 25px 0
			+max($mobile)
				&:nth-of-type(2n)
					margin-right: 0
			+max(480px)
				margin: 0 0 25px 0
